@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

$radius: 0.5rem;
$c-accent: hsl(251 100% 66%);

body {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100vh;
    font: {
        size: 1.2rem;
        family: Roboto, sans-serif;
    }
    background: {
        color: $c-accent;
        image: linear-gradient(
            90deg,
            hsl(251 100% 66%) 0%,
            hsl(251 94% 66%) 1%,
            hsl(251 88% 66%) 5%,
            hsl(251 81% 65%) 12%,
            hsl(251 75% 65%) 24%,
            hsl(251 69% 64%) 42%,
            hsl(251 64% 64%) 65%,
            hsl(251 58% 63%) 85%,
            hsl(251 52% 63%) 96%,
            hsl(251 47% 62%) 100%
        );
    }
}

.search {
    position: relative;
    block-size: 8vh;
    overflow: hidden;
    border-radius: $radius;
    box-shadow: inset -8px 8px 25px 0 hsl(251 95% 26%);
    > {
        * {
            max-inline-size: 100%;
            block-size: 100%;
            background-color: hsl(0 0% 100%);
            color: hsl(251 95% 26%);
            border: none;
            border-radius: $radius;
        }

        input {
            transition: translate 0.8s;
            translate: 150% 0;
            padding: 0.5em;
            &::placeholder {
                font-style: oblique;
            }
            &:focus-visible {
                outline: none;
            }
        }
        button {
            transition: inset 0.8s 0.8s, translate 0.8s 0.8s;
            position: absolute;
            inset-inline-end: 50%;
            translate: 50% 0;
            aspect-ratio: 1;
            cursor: pointer;
        }
    }

    &:focus-within {
        > {
            input {
                translate: 0;
            }
            button {
                inset-inline-end: 0;
                translate: 0;
            }
        }
    }
}
