<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Dad Jokes</title>
        <meta name="author" content="https://www.linkedin.com/in/rehberbey/" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <link rel="stylesheet" href="../src/public/css/normalize.css" />
        <link rel="stylesheet" href="../src/public/css/main.css" />
        <link rel="stylesheet" href="../dist/css/index.css" />
    </head>
    <body>
        <noscript
            ><iframe
                style="inline-size: 100%; border: none"
                src="noscript.html"
            ></iframe
        ></noscript>

        <main>
            <h2>Don't Laugh Challenge</h2>
            <p id="jokeParagraph">Joke goes here</p>
            <button id="getJoke">Get Another Joke</button>
        </main>

        <script src="../src/public/js/modernizr-3.6.0.min.js"></script>
        <script type="module" src="../dist/js/index.js"></script>
    </body>
</html>
