@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Signika:wght@700&display=swap");

:root {
    --c-accent: #ff7979;

    --c-bg: #eee;
    --c-dark-bg: #121212;

    --c-text: var(--c-dark-bg);
    --c-dark-text: var(--c-bg);

    --w-aside-nav: 15rem;

    accent-color: var(--c-accent);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Signika", sans-serif;
}

%transition {
    transition: transform 0.8s, background-color 0.6s, color 0.4s;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--c-dark-bg);
    color: var(--c-dark-text);
    overflow-x: hidden;
    position: relative;
    > {
        .circle {
            position: absolute;
            transform: translate(-50%, -50%) rotate(0.1turn);
            @extend %transition;
            background-color: var(--c-accent);
            inline-size: 12.5rem;
            aspect-ratio: 1;
            border-radius: 50%;
            > {
                button {
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                    position: absolute;
                    inset-inline-start: 50%;
                    inset-block-start: 50%;
                    transform-origin: top left;

                    &#open {
                        transform: translate(40%, 30%) rotate(-0.1turn);
                    }

                    &#close {
                        transform: translate(-80%, 150%) rotate(-0.1turn);
                    }
                }
            }
        }

        .circle,
        nav {
            z-index: 100;
        }

        nav {
            position: fixed;
            inset-inline-start: 0;
            inset-block-end: 10%;
            font-size: 1.25em;
            white-space: nowrap;
            ul {
                > li {
                    transform: translateX(-200%);
                    @extend %transition;
                    margin-block-end: 2em;
                    cursor: pointer;
                    &:hover {
                        > a {
                            color: var(--c-accent);
                        }
                    }
                    > a {
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }
        }
    }
    &.aside-open {
        > {
            .circle {
                transform: translate(-50%, -50%) rotate(-0.15turn);
            }
            nav {
                ul {
                    > li {
                        transform: translateX(0);

                        &:nth-child(2) {
                            transform: translateX(25%);
                        }
                        &:nth-child(3) {
                            transform: translateX(50%);
                        }
                    }
                }
            }
            main {
                transform: rotate(-20deg);
            }
        }
    }
    @extend %transition;
    @media (prefers-color-scheme: dark) {
        background-color: var(--c-bg);
        color: var(--c-text);
        > main {
            background-color: var(--c-dark-bg);
            color: var(--c-dark-text);
        }
    }
}

main {
    background-color: var(--c-bg);
    color: var(--c-text);
    padding: 3.25rem 12.5rem;
    max-inline-size: 100vw;
    min-block-size: 100vh;
    transform-origin: top left;
    @extend %transition;
    > {
        article.content {
            > {
                h1 {
                    margin-block-end: -0.2em;
                    + small {
                        font-style: oblique;
                    }
                }
                img {
                    max-inline-size: 100%;
                }
            }
        }
    }
}
