<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Sound Board</title>
        <meta name="author" content="https://www.linkedin.com/in/rehberbey/" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <link rel="stylesheet" href="../src/public/css/normalize.css" />
        <link rel="stylesheet" href="../src/public/css/main.css" />
        <link rel="stylesheet" href="../dist/css/index.css" />
    </head>
    <body>
        <noscript
            ><iframe
                style="inline-size: 100%; border: none"
                src="noscript.html"
            ></iframe
        ></noscript>

        <audio id="applause" src="../src/public/audio/applause.mp3"></audio>
        <audio id="boo" src="../src/public/audio/boo.mp3"></audio>
        <audio id="gasp" src="../src/public/audio/gasp.mp3"></audio>
        <audio id="tada" src="../src/public/audio/tada.mp3"></audio>
        <audio id="victory" src="../src/public/audio/victory.mp3"></audio>
        <audio id="wrong" src="../src/public/audio/wrong.mp3"></audio>

        <div id="buttons"></div>

        <script src="../src/public/js/modernizr-3.6.0.min.js"></script>
        <script type="module" src="../dist/js/index.js"></script>
    </body>
</html>
