<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Progress Steps</title>
        <meta name="author" content="https://www.linkedin.com/in/rehberbey/" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <link rel="stylesheet" href="../src/public/css/normalize.css" />
        <link rel="stylesheet" href="../src/public/css/main.css" />
        <link rel="stylesheet" href="../dist/css/index.css" />
        <noscript
            ><iframe
                style="inline-size: 100%"
                src="noscript.html"
                frameborder="0"
            ></iframe
        ></noscript>
    </head>
    <body>
        <main>
            <div class="progress-container" data-current-active-circle="1">
                <div class="circle active">1</div>
                <div class="circle">2</div>
                <div class="circle">3</div>
                <div class="circle">4</div>
            </div>
            <menu>
                <button id="prev" tabindex="0" disabled="disabled">Prev</button>
                <button id="next" tabindex="0">Next</button>
            </menu>
        </main>

        <script src="../src/public/js/modernizr-3.6.0.min.js"></script>
        <script type="module" src="../dist/js/index.js"></script>
    </body>
</html>
