<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Expanding Cards</title>
        <meta name="author" content="https://www.linkedin.com/in/rehberbey/" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <link rel="stylesheet" href="../src/public/css/normalize.css" />
        <link rel="stylesheet" href="../src/public/css/main.css" />
        <link rel="stylesheet" href="../dist/css/index.css" />

        <noscript
            ><iframe
                style="inline-size: 100%"
                src="noscript.html"
                frameborder="0"
            ></iframe
        ></noscript>
    </head>
    <body>
        <main id="picture-gallery">
            <figure class="active">
                <div
                    class="bg-img"
                    style="
                        background-image: url(https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
                    "
                ></div>
                <figcaption>
                    <h2>Explore The World</h2>
                </figcaption>
            </figure>

            <figure>
                <div
                    class="bg-img"
                    style="
                        background-image: url(https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
                    "
                ></div>
                <figcaption>
                    <h2>Wild Forest</h2>
                </figcaption>
            </figure>

            <figure>
                <div
                    class="bg-img"
                    style="
                        background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80);
                    "
                ></div>
                <figcaption>
                    <h2>Sunny Beach</h2>
                </figcaption>
            </figure>

            <figure>
                <div
                    class="bg-img"
                    style="
                        background-image: url(https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80);
                    "
                ></div>
                <figcaption>
                    <h2>City on Winter</h2>
                </figcaption>
            </figure>

            <figure>
                <div
                    class="bg-img"
                    style="
                        background-image: url(https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
                    "
                ></div>
                <figcaption>
                    <h2>Mountains - Clouds</h2>
                </figcaption>
            </figure>
        </main>

        <script src="../src/public/js/modernizr-3.6.0.min.js"></script>
        <script type="module" src="../dist/js/index.js"></script>
    </body>
</html>
